 #main{
    margin-top: 56px;
    width: 100%;
    height: 100%;
    opacity: 0.15;
}

.main_class {/*main class*/
    width: 90%;
    height: 90%;
    margin: 15 auto;
    position: relative;
    top: calc(-1 * (95%));
   /* background: yellow;*/
}

.apresentation { /*apresentation*/
    width: 50%;
    height: 100%;
    float: left;
    
}
.aprensetation_insider {/*apresentation insider*/
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

.aprensetation_insider > h1{
    font-size: 50px;
}

.aprensetation_insider a > input{
    color: black;
    border: 1px solid rgba(176, 169, 169,0.7);;
    background: rgba(176, 169, 169,0.1);
    cursor: pointer; 
    margin-top: 30px; 
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 15px;
    padding: 2px;
}

.catalogue {/*catalogue*/
    width: 50%;
    height: 100%;
    float: left;
}

.catalogue_insider{/*apresentation_insider*/
    width: 100%;
    height: 100%;
    margin-left: 80px;
}

#image_catalogue img{/*img*/
    width: 75%;
    height: 70%;
    border-radius: 16px;
    
}

#info_catalogue {/*info catalogue*/
    width: 75%;
    height: 15%;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
 
.perfil {
    width: 70px;
    height: 75px;
    position: relative;
    top:-20px;
    margin: 0 auto;
}

.perfil img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 2px solid white;
}

#detail_perfil p, #detail_perfil a{
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

#detail_perfil a > p{
    color: rgb(68, 68, 171);
}

@media screen and (max-width: 600px) {
    #main{
        margin-top: 5px;
    }
    
    .main_class {
        width: 100%;
    }
    
    .main_class .apresentation {
        width: 90%;
    }
    
    .catalogue {
        display: none;
    }
}

@media screen and (max-width: 800px){
    .catalogue {
        display: none;
    }
    
    .aprensetation_insider {
        margin-left: 45%;
    }
    
}
